* {
    --nav-height: 56px;

    --bg-color: #170231;
    --primary-color: #231942;
    --light-primary-color: #5e548e;
    --dark-secondary-color: #9f86c0;
    --secondary-color: #be59c4;
    --light-secondary-color: #e0b1cb;
}