#title-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 0 1rem 0;
    height: 5rem;
}

#title-wrapper:after {
    flex: 1;
    content: "";
}

#goback-btn {
    flex: 1;
    padding: 1rem;
}

#title {
    font-size: xx-large;
    font-weight: bolder;
}

.pedidos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0;
}

.pedido {
    padding: 1rem;
    border: 1px solid white;
}

.pedido-finalizado {
    background: rgb(7, 58, 7);
}

.pedido-aguardando {
    background: rgb(112, 78, 14);
}

.pedido-expirado {
    background: rgb(70, 10, 10);
}

.status-text {
    font-weight: bolder;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    padding: .5rem;
    margin: .25rem 0 1rem 0;
    /* border: 1px solid white; */
}

.items-div {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

#stage-details {
    display: flex;
    flex-direction: column;
    align-items: left;
    cursor: auto;
}

.stage-details-item {
    display: flex;
    align-items: center;
    margin: .25rem 0 .25rem .5rem;
}

#stage-details-tax {
    display: none;
}

.satage-details-item-img {
    width: 3rem;
    margin: 0 .5rem 0 0;
}

.light-text {
    color: #ccc;
    font-size: .85rem;
}

.pay-btn-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(112, 78, 14);
}

.pay-btn {
    font-size: 1.25rem;
    padding: .75rem;
    width: 100%;
    text-align: center;
    border: 1px solid white;
    /* color: white; */
    background-color: orange;
}

.total {
    margin-top: .5rem;
    font-size: 1.5rem;
    font-weight: bold;
}





#buy-btn-wrapper {
    margin-top: -5rem;
    height: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#buy-btn {
    color: white;
    background: var(--light-primary-color);
    padding: .8rem;
    font-weight: bold;
    font-size: larger;
    border-radius: .5rem;
    text-align: center;
}

#buy-btn:hover {
    cursor: pointer;
}
