#title-wrapper {
    width: 100%;
    text-align: center;
    padding: 1rem;
    margin: 0rem 0rem 1rem 0rem;
}

#title {
    font-size: 2rem;
    font-weight: bolder;
}

.container {
    margin-bottom: 2rem;
    background: var(--primary-color);
    box-shadow: 0px 5px 15px black;
    /* color: var(--light-secondary-color); */
    color: white;
}

.section {
    /* width: 100%; */
    /* padding-bottom: 1rem; */
    /* margin-bottom: 1rem; */
    /* outline: 1px solid white; */
    outline: 1px solid var(--light-primary-color);
}


.section-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem;
    /* outline: 1px solid white; */
}

.section-items {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid var(--light-primary-color);
}

.section-item {
    /* width: 100%; */
    /* cursor: pointer; */
    /* outline: 1px solid white; */
}

.section-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;
}

.section-inner-content {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.section-inner-content p {
    text-align: center;
}

.section-item:hover {
    /* background: var(--light-primary-color) */
}